/*****COMMON CSS SECTION*****/
  * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-outline: 0;
	font-family:Roboto, sans-serif, arial;
}
html, body 
	{
	font-size: 14px;
	font-weight: 400;
	background: #000000;
	color: #fff;
}
.container {
	width: 1100px;
	margin: 0px auto;
	display: table;
}
.width-33 {
	width: 33%;
	float: left;
}
.width-66 {
	width: 66%;
	float: left;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} 

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/*****MENU SECTION*****/
.main-panel {
	width: 100%;
	float: left;
	padding-top: 20px;
	padding-bottom: 50px;
	height: 100vh;
}

.logo {
	font-size: 40px;
	font-weight: 600;
}

.span-row {
	color: #ffbf35;
}

nav {
	justify-content: space-between;
}

/* .topnav a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
	color: white;
} */
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

.homepage h3{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
	font-size: 20px;
	font-weight: bolder;	
}
.homepage home-img{
	width: 85%;
	padding: 0px 50px;
	margin-top: 90px;
	border-radius:35%;
}
.homepage p{
	font-size: 16px;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}



 .width-50 {
	float: left;
	width: 50%;
}


/*ABOUT US SECTION*/
.main-section {
	width: 100%;
	float: left;
	padding: 110px 10px 110px 10px;
}
.width-100 {
	width: 100%;
	float: left;
}
.mt-20 {
	margin-top: 20px;
}
.heading-text {
	width: 100%;
	float: left;
	font-size: 45px;
	text-align: center;
	margin-bottom: 50px;
	color: #ffbf35;
}
.about-img {
	width: 85%;
	padding: 0px 50px;
	margin-top: 90px;
	border-radius:10%;
}
.about-us{
	width: 100%;
	float: left;
	padding: 30px;
}
.about-us p {
	font-size: 16px;
	margin-top: 15px;
	line-height: 27px;
}
table {
	width: 150%;
	line-break: 30%;
}
table th,
table td {
	font-size: 16px;
	text-align: left;
	padding: 5px 2px;
}
/*****SKILL SECTION*****/
.skill {
	margin-top: 40px;
	font-size: 25px;
}

.skill span {
	float: right;
}

.skill div {
	width: 100%;
	float: left;
	margin-top: 5px;
	background: #e7e7e7;
	border-radius: 10px;
}

.skill div span {
	background: #ffbf35;
	height: 5px;
	float: left;
}

div[role="progressbar"] {
	color: #ffbf35;
	margin-left: 120px;
	margin-bottom: 50px;
	margin-top: 5%;
	width: 120px;
	;
	height: 120px;
	;
	border-radius: 50%;

	place-items: center;
	display: grid;

	--pgPercentage: var(--value);
	background: radial-gradient(closest-side, black 80%, transparent 0 99.9%, black 0),
		conic-gradient(#ffbf35 calc(var(--pgPercentage) * 1%), #ffe6af 0);

}
/*****EXPERIENCE SECTION*****/
.bg-lightgrey {
	background-color: #1a1a1a;
}
.edu-exp {
	padding: 10px 0px;
	width: 48%;
	margin: 1%;
	float: left;
	padding-left: 10px;
}
.education-list {
	width: 100%;
	float: left;
	padding: 30px 10px;
	background: #262626;
	margin-bottom: 20px;
}
.education-content {
	width: 100%;
	float: left;
	margin-left: 10px;
}
.education-content h2 {

	font-weight: 600;
	margin-bottom: 5px;
	font-size: 25px;
}
.education-content h3 {
	color: #ffbf35;
	font-weight: 500;
	margin-bottom: 2px;
	font-size: 22px;
}
.education-content p {
	font-size: 20px;
}
.abc-img {
	text-align: center;
	width: 95%;
	padding: 0px 50px;
	border-radius:25%;
	margin-top: 330px;
}
/*CONTACT US SECTION*/
.contact form {
	width: 66%;
	margin: 0px auto;
}
.contact input,
textarea {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	border: 1px solid #a1a1a1;
}
.contact textarea {
	height: 80px;
}
.contact button {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	background: #ffbf35;
	color: #fff;
	border: none;
	font-size: 16px;
}
.contact h3 {
	font-size: 26px;
	text-align: center;
	margin-top: 60px;
	color: #ffbf35;
}
.contact h4 {
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
}
.contact p {
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
/*****FOOTER SECTION*****/
.footer {
	background-color: #202020;
	padding: 15px 0px 20px 0px;
	width: 100%;
	float: left;
}
.footer-sect {
	color: #b3b3b3;
	text-align:left;
}
.footer-sect a {
	color: #b3b3b3;
	margin-left: 10px;
	text-decoration: none;
	font-size: 10px;
	text-align: center;
}
.social-icon a i {
	width: 50px;
	height: 50px;
	border: 0px solid #cdcdcd;
	line-height: 50px;
	font-size: 30px;
	border-radius: 40%;
}